In [1]:
# Probability Basic Defenitions

In [2]:
import pandas as pd
import numpy as np

C:\Users\r555s\AppData\Local\Temp\ipykernel_1396\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
df = pd.read_csv('Sachin_ODI.csv')
df.shape

(360, 14)

In [12]:
df[df['century']==True]

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
5,112,1,137,107,15,1,104.67,2,Sri Lanka,Sharjah,1995-04-09,India,True,True
12,127,1,175,138,15,1,92.02,2,Kenya,Cuttack,1996-02-18,India,True,True
15,137,0,198,137,8,5,100.00,1,Sri Lanka,Delhi,1996-03-02,Sri Lanka,False,True
20,100,0,-,111,9,1,90.09,1,Pakistan,Singapore,1996-04-05,Pakistan,False,True
23,118,0,-,140,8,2,84.28,1,Pakistan,Sharjah,1996-04-15,India,True,True
27,110,0,-,138,5,1,79.71,1,Sri Lanka,Colombo (RPS),1996-08-28,Sri Lanka,False,True
41,114,0,157,126,14,0,90.47,1,South Africa,Mumbai,1996-12-14,India,True,True
47,104,0,121,97,8,1,107.21,2,Zimbabwe,Benoni,1997-02-09,India,True,True
55,117,0,188,137,13,2,85.40,2,New Zealand,Bengaluru,1997-05-14,India,True,True
85,100,0,132,89,5,7,112.35,2,Australia,Kanpur,1998-04-07,India,True,True
91,143,0,187,131,9,5,109.16,2,Australia,Sharjah,1998-04-22,Australia,False,True
92,134,0,195,131,12,3,102.29,2,Australia,Sharjah,1998-04-24,India,True,True
95,100,1,156,103,13,0,97.08,2,Kenya,Kolkata,1998-05-31,India,True,True
99,128,0,182,131,8,2,97.70,1,Sri Lanka,Colombo (RPS),1998-07-07,India,True,True
101,127,1,155,130,13,1,97.69,2,Zimbabwe,Bulawayo,1998-09-26,India,True,True
104,141,0,191,128,13,3,110.15,1,Australia,Dhaka,1998-10-28,India,True,True
107,118,1,173,112,14,2,105.35,2,Zimbabwe,Sharjah,1998-11-08,India,True,True
110,124,1,140,92,12,6,134.78,2,Zimbabwe,Sharjah,1998-11-13,India,True,True
116,140,1,114,101,16,3,138.61,1,Kenya,Bristol,1999-05-23,India,True,True
123,120,0,191,141,11,2,85.10,1,Sri Lanka,Colombo (SSC),1999-08-29,India,True,True
128,186,1,221,150,20,3,124.00,1,New Zealand,Hyderabad (Deccan),1999-11-08,India,True,True
143,122,0,195,138,12,0,88.40,2,South Africa,Vadodara,2000-03-17,India,True,True
155,101,0,-,140,3,1,72.14,1,Sri Lanka,Sharjah,2000-10-20,Sri Lanka,False,True
162,146,0,200,153,15,2,95.42,1,Zimbabwe,Jodhpur,2000-12-08,Zimbabwe,False,True
167,139,0,197,125,19,0,111.20,1,Australia,Indore,2001-03-31,India,True,True
173,122,1,210,131,12,1,93.12,2,West Indies,Harare,2001-07-04,India,True,True
175,101,0,209,129,9,0,78.29,1,South Africa,Johannesburg,2001-10-05,South Africa,False,True
179,146,0,186,132,17,0,110.60,1,Kenya,Paarl,2001-10-24,India,True,True
191,105,1,167,108,8,1,97.22,1,England,Chester-le-Street,2002-07-04,no result,False,True
194,113,0,141,102,12,1,110.78,1,Sri Lanka,Bristol,2002-07-11,India,True,True
206,152,0,193,151,18,0,100.66,1,Namibia,Pietermaritzburg,2003-02-23,India,True,True
215,100,0,158,119,9,1,84.03,1,Australia,Gwalior,2003-10-26,India,True,True
219,102,0,124,91,12,1,112.08,1,New Zealand,Hyderabad (Deccan),2003-11-15,India,True,True
229,141,0,173,135,17,1,104.44,2,Pakistan,Rawalpindi,2004-03-16,Pakistan,False,True
245,123,0,192,130,12,2,94.61,1,Pakistan,Ahmedabad,2005-04-12,Pakistan,False,True
258,100,0,188,113,10,1,88.49,1,Pakistan,Peshawar,2006-02-06,Pakistan,False,True
262,141,1,-,148,13,5,95.27,1,West Indies,Kuala Lumpur,2006-09-14,West Indies,False,True
276,100,1,110,76,10,1,131.57,1,West Indies,Vadodara,2007-01-31,India,True,True
313,117,1,235,120,10,0,97.50,2,Australia,Sydney,2008-03-02,India,True,True
322,163,1,206,133,16,5,122.55,1,New Zealand,Christchurch,2009-03-08,India,True,True
325,138,0,214,133,10,1,103.75,1,Sri Lanka,Colombo (RPS),2009-09-14,India,True,True
331,175,0,210,141,19,4,124.11,2,Australia,Hyderabad (Deccan),2009-11-05,Australia,False,True
338,200,1,226,147,25,3,136.05,1,South Africa,Gwalior,2010-02-24,India,True,True
342,120,0,170,115,10,5,104.34,1,England,Bengaluru,2011-02-27,tied,False,True
345,111,0,184,101,8,3,109.90,1,South Africa,Nagpur,2011-03-12,South Africa,False,True
358,114,0,205,147,12,1,77.55,1,Bangladesh,Dhaka,2012-03-16,Bangladesh,False,True